@layer components {
  .dialog {
    outline: none;
    @apply mx-auto w-full;
  }

  @screen sm {
    .dialog {
      @apply max-w-xl;
    }
  }

  @screen md {
    .dialog {
      @apply max-w-2xl;
    }
  }

  @screen lg {
    .dialog {
      @apply max-w-4xl;
    }
  }

  @screen xl {
    .dialog {
      @apply max-w-6xl;
    }
  }

  .dialog-content {
    @apply p-6 rounded-lg shadow-xl relative max-h-[90vh] bg-white dark:bg-gray-800 overflow-y-auto;
  }

  .dialog-overlay {
    transition: all 0.15s ease-in-out;
    @apply inset-0 fixed z-30 bg-black/60 dark:bg-black/80 flex items-center justify-center p-4;
  }

  .dialog-overlay-after-open {
    opacity: 1;
  }

  .dialog-overlay-before-close {
    opacity: 0;
  }
}
