# General dependencies and build artifacts
node_modules/
**/node_modules/
.pnp/
.pnp.js
coverage/
build/
dist/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
*.pem

# OS / Editor
.DS_Store
*.tsbuildinfo

# Tooling
.vercel

# Prisma
backend/prisma/generated/
!deploy/nginx/dhparam.pem

# Generated shared modules
frontend/.shared/
